<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>动物识别专家系统</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>
<body>
<div class="layui-container container" style = "margin-top: 50px;"> 
        <h1>动物识别系统</h1>

        <div class="layui-collapse" lay-accordion="">
          <div class="layui-colla-item">
            <h3 class="layui-colla-title">显示动物的相关信息</h3>
            <div class="layui-colla-content">
              <p>可识别的动物有：金钱豹、虎、长颈鹿、斑马、鸵鸟、企鹅、信天翁</p><br>
              <p>R1: If 有毛发 Then 是哺乳动物</p>
              <p>R2: If 有奶 Then 是哺乳动物</p>
              <p>R3: If 有羽毛 Then 是鸟</p>
              <p>R4: If 会飞 AND 会下蛋 Then 是鸟</p>
              <p>R5: If 吃肉 Then 是肉食动物</p>
              <p>R6: If 有犬齿 AND 有爪 AND 眼盯前方 Then 肉食动物</p>
              <p>R7: If 哺乳动物 AND 有蹄 Then 有蹄动物</p>
              <p>R8: If 哺乳动物 AND 嚼反刍动物 Then 有蹄动物</p>
              <p>R9: If 哺乳动物 AND 肉食动物 AND 黄褐色 AND 身上有暗斑点 Then 金钱豹</p>
              <p>R10: If 哺乳动物 AND 肉食动物 AND 黄褐色 AND 有黑色条纹 Then 虎</p>
              <p>R11: If 有蹄动物 AND 有长脖子 AND 有长腿 AND 身上有暗斑点 Then 长颈鹿</p>
              <p>R12: If 有蹄动物 AND 身上有黑条纹 Then 斑马</p>
              <p>R13: If 是鸟 AND 有长脖子 AND 有长腿 AND 不会飞 Then 鸵鸟</p>
              <p>R14: If 是鸟 AND 会游泳 AND 不会飞 AND 有黑白两色 Then 企鹅</p>
              <p>R15: If 是鸟 AND 善飞 Then 信天翁</p>
            </div>
          </div>
        </div>

        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="checkbox" class="checkbox0" name="hair" title="有毛" value="有毛">
                    <input type="checkbox" class="checkbox1" name="breast" title="有奶" value="有奶">
                    <input type="checkbox" class="checkbox2" name="plumage" title="有羽毛" value="有羽毛">
                    <input type="checkbox" class="checkbox3" name="canFly" title="会飞" value="会飞">
                    <input type="checkbox" class="checkbox4" name="canLayEgg" title="会下蛋" value="会下蛋">
                    <input type="checkbox" class="checkbox5" name="eatMeat" title="吃肉" value="吃肉">
                    <input type="checkbox" class="checkbox6" name="mammal" title="哺乳类" value="哺乳类">
                    <input type="checkbox" class="checkbox7" name="tooth" title="犬牙利爪" value="犬牙利爪">
                    <input type="checkbox" class="checkbox8" name="eye" title="眼睛向前" value="眼睛向前">
                    <input type="checkbox" class="checkbox9" name="jue" title="反刍食物" value="反刍食物">
                    <input type="checkbox" class="checkbox10" name="hoof" title="有蹄" value="有蹄">
                    <input type="checkbox" class="checkbox11" name="tawny" title="黄褐色" value="黄褐色">
                    <input type="checkbox" class="checkbox12" name="spot" title="有暗斑点" value="有暗斑点">
                    <input type="checkbox" class="checkbox13" name="carnivorous" title="食肉类" value="食肉类">
                    <input type="checkbox" class="checkbox14" name="stripe" title="有黑条纹" value="有黑条纹">
                    <input type="checkbox" class="checkbox15" name="longLegNeck" title="长腿长脖子" value="长腿长脖子">
                    <input type="checkbox" class="checkbox16" name="tawnyspot" title="有黄褐色暗斑点" value="有黄褐色暗斑点">
                    <input type="checkbox" class="checkbox17" name="hoofedAnimal" title="有蹄类" value="有蹄类">
                    <input type="checkbox" class="checkbox18" name="blackAndWhitestripe" title="有黑白条纹" value="有黑白条纹">
                    <input type="checkbox" class="checkbox19" name="cantFly" title="不会飞" value="不会飞">
                    <input type="checkbox" class="checkbox20" name="blackAndWhite" title="黑白色" value="黑白色">
                    <input type="checkbox" class="checkbox21" name="bird" title="鸟类" value="鸟类">
                    <input type="checkbox" class="checkbox22" name="goodAtSwim" title="善游泳" value="善游泳">
                    <input type="checkbox" class="checkbox23" name="goodAtFly" title="善飞" value="善飞">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <!-- 定义点击事件 -->
                    <button class="layui-btn" lay-submit lay-filter="formDemo" id="submit-btn">确定</button>
                    <button type="reset" class="layui-btn layui-btn-primary" id="restart">重置</button>
                </div>
            </div>
        </form>

        <div>
            <p>结果：</p>
            <div id="result" class="layui-bg-gray"></div>
        </div>
        
    </div>
<br>
<script type="text/javascript" src="../static/layui/layui.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="UTF-8">
$(document).ready(function() {
    layui.use(['form','layer'],function() {
        var form = layui.form;
        form.on('submit(formDemo)',function(data) {
            return false;
        })
    })
    layui.use(['element', 'layer'], function(){
      var element = layui.element;
      var layer = layui.layer;
      
      //监听折叠
      element.on('collapse(test)', function(data){
        layer.msg('展开状态：'+ data.show);
      });
    });
    $("#restart").click(function (){
        $("#result").html("");
    });
    $("#submit-btn").click(function() {
        var sid = true;
        var text = "";
        for (var i = 0;i < 24;i++) {
            var checkbox = $('.checkbox'+i);
            if (checkbox.is(':checked')) {
                text = text + " " + checkbox.val();
            }
        }

        if (text.length == 0) {
            alert('不能为空');
        }else{
            dis = "true";
            $.ajax({
                url: "/infer",
                data: {
                    q: text,
                    display: dis
                },
                success : function(data) {
                    $("#result").html(data);
                }
            });
        }
    });
});
</script>
</body>
</html>